<h2>Methods that were not run</h2><table>
<tr><td>wdMethods.ProjectMethods.afterTest</td></tr>
<tr><td>wdMethods.ProjectMethods.afterTest</td></tr>
<tr><td>wdMethods.ProjectMethods.beforeSuite</td></tr>
<tr><td>wdMethods.ProjectMethods.beforeSuite</td></tr>
<tr><td>wdMethods.ProjectMethods.afterSuite</td></tr>
<tr><td>wdMethods.ProjectMethods.afterSuite</td></tr>
</table>