<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="907cad">  <td>18/12/29 15:46:18</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="ffd4f3">  <td>18/12/29 15:46:19</td>   <td>491</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:testcases.TC001_LoginAndLogout@a5272be]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="bba9b0">  <td>18/12/29 15:46:19</td>   <td>491</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout2.setData()[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="696f97">  <td>18/12/29 15:46:19</td>   <td>492</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testcases.TC002_CreateLead@38ed139b]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:46:19</td>   <td>500</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:46:20</td>   <td>1532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="bba9b0">  <td>18/12/29 15:46:28</td>   <td>9939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout2.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">login</td> 
  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:46:31</td>   <td>12400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:46:31</td>   <td>13073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="bba9b0">  <td>18/12/29 15:46:38</td>   <td>20106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout2.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">login</td> 
  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:46:40</td>   <td>21947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:46:41</td>   <td>22592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="bba9b0">  <td>18/12/29 15:46:47</td>   <td>28449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout2.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">login</td> 
  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:46:49</td>   <td>30739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:46:50</td>   <td>31381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="bba9b0">  <td>18/12/29 15:46:56</td>   <td>37367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout2.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">login</td> 
  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:46:58</td>   <td>39713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:46:59</td>   <td>40408</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC002_CreateLead@38ed139b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:46:59</td>   <td>40524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC002_CreateLead@38ed139b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="696f97">  <td>18/12/29 15:47:04</td>   <td>46101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_CreateLead@38ed139b]">CreateLead</td> 
  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:47:13</td>   <td>55051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC002_CreateLead@38ed139b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:47:14</td>   <td>55701</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC001_LoginAndLogout@a5272be]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:47:14</td>   <td>55800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@a5272be]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="ffd4f3">  <td>18/12/29 15:47:18</td>   <td>60071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.login(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout@a5272be]">login</td> 
  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:47:20</td>   <td>62108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@a5272be]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:47:21</td>   <td>62760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@a5272be]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="ffd4f3">  <td>18/12/29 15:47:26</td>   <td>67931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.login(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout@a5272be]">login</td> 
  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:47:28</td>   <td>70049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@a5272be]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:47:29</td>   <td>70682</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
<tr bgcolor="907cad">  <td>18/12/29 15:47:29</td>   <td>70738</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC001_LoginAndLogout2@3204e238]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662000775</td>   <td></td> </tr>
</table>
